*{
	font-style: var(--font-size-base);
}
body{
	width: 100%;
	background: url(/assets/images/index/hyperspace_sasws_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

/* LANDING PAGE */
.header{
	font-family: starJedi;
	color: var(--accent1);
	text-align: center;
}
.main{
	font-size: var(--font-size-xl);
	margin-bottom: 5rem;
}


.categories{
	display: flex;
	flex-flow: row wrap;
	gap: 2rem;
	justify-content: space-around;
	width: 100%;
}

.category{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 18rem;
	height: 18rem;
	border: 4px solid #ffffff70;
	border-radius: 2rem;
}
.category:hover{
	border: 8px solid #ffffff;
}

.category img{
	max-height: 80%;
	max-width: 80%;
}

